<ng-template #noLivres>
  <br>
  <div class="container mr-5" style="text-align: center; margin-top: 200px;">
    <h3>Aucun livre trouver</h3> 
  </div>
</ng-template>

<div class="container mt-4">
  <h1>Liste des livres </h1>
</div>

<div class="container">
  <button class="btn btn-primary float-right" style="margin-bottom: 20px; margin-top: 20px;"
    (click)="goToCreatePage()">Ajouter un livre</button>
  <table class="table border" *ngIf="livres.length > 0 ; else noLivres">
    <thead class="thead-light ">
      <tr>
        <th>Name</th>
        <th>Author</th>
        <th>Categorie</th>
        <th>Emprunter</th>
        <th>Emprunteur</th>
        <th>Date de retour</th>
        <th> </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let  livre of livres">
        <td>{{livre.name}}</td>
        <td>{{livre.author}}</td>
        <td>{{livre.category?.name}}</td>
        <td>{{livre.isBorrowed}}</td>
        <td *ngIf="livre.emprunt">{{livre.emprunt.loaner.firstName }} {{livre.emprunt.loaner.lastName }}  </td>
        <td *ngIf="!livre.emprunt"> - </td>
        <td *ngIf="livre.emprunt">{{livre.emprunt?.end | date : "dd/MM//yyy"}}</td>
        <td *ngIf="!livre.emprunt"> - </td>
        <td><a [routerLink]="['/editLivre', livre.id]"><i class="fa fa-edit fa-lg"></i></a></td>
        <td><a style="color: red; cursor: pointer;" (click)="deleteLivre(livre.id)"><i class="fa fa-trash fa-lg"></i></a> </td>
       
      </tr>
    </tbody>
  </table>

</div>