<ng-template #noStudent>
  <br>
  <div class="container mr-5" style="text-align: center; margin-top: 200px;">
    <h3>Aucun etudiant trouver</h3> 
  </div>
</ng-template>


<div class="container mt-4">
  <h1>Liste des etudiants </h1>
</div>
<div class="container">
    <button class="btn btn-primary float-right" style="margin-bottom: 20px; margin-top: 20px;"
      (click)="goToCreatePage()">Ajouter un Etudiant</button>
    <table class="table border" *ngIf="etudiants.length >0 ; else noStudent">
      <thead class="thead-light">
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Email</th>
          <th>Carte identitée</th>
          <th> </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let  etudiant of etudiants">
          <td>{{etudiant.firstName}}</td>
          <td>{{etudiant.lastName}}</td>
          <td>{{etudiant.email}}</td>
          <td>{{etudiant.idNumber}}</td>
          <td><a [routerLink]="['/editStudent', etudiant.id]"><i class="fa fa-edit fa-lg"></i></a></td>
          <td><a style="color: red; cursor: pointer;" (click)="deleteStudent(etudiant.id)"><i class="fa fa-trash fa-lg"></i></a> </td>
         
        </tr>
      </tbody>
    </table>
  
  </div>