<div class="container">
    <button class="btn btn-primary float-right" style="margin-bottom: 20px; margin-top: 20px;"
      (click)="goToCreatePage()">Ajouter un Etudiant</button>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Email</th>
          <th>Carte identitée</th>
          <th> </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let  etudiant of etudiants">
          <td>{{etudiant.firstName}}</td>
          <td>{{etudiant.lastName}}</td>
          <td>{{etudiant.email}}</td>
          <td>{{etudiant.idNumber}}</td>
          <td><a class="btn btn-primary" style="padding: 0;" [routerLink]="['/editStudent', etudiant.id]">edit</a></td>
          <td><a class="btn btn-danger" style="padding: 0;" (click)="deleteStudent(etudiant.id)">delete</a> </td>
         
        </tr>
      </tbody>
    </table>
  
  </div>