<div class="row align-items-center" style=" margin-top:  30px">

    <div class="col-4"></div>
    <form class="col-4" style="width: 40%;">
        <h3 style="margin-bottom: 20px;">Créer un emprunt</h3>
        <div class="form-group">
            <label> Date de debut</label>
            <input type="date" class="form-control" id="start" name="start" [(ngModel)]="emprunt.start">
            <div *ngIf="submitted && !emprunt.start">
                <span style="color: red;">Ce champ est obligatoire</span>
            </div>
        </div>
        <div class="form-group">
            <label> Date de fin</label>
            <input type="date" class="form-control" id="end" name="end" [(ngModel)]="emprunt.end">
            <div *ngIf="submitted && !emprunt.end">
                <span style="color: red;">Ce champ est obligatoire</span>
            </div>
            <div *ngIf="submitted && dateError">
                <span style="color: red;">Date début doit étre inferieur à la date de fin</span>
            </div>
        </div>
        <div class="form-group">
            <label>Livres disponibles</label>
            <select class="form-control" id="livre" name="livre" [(ngModel)]="emprunt.livre">
                <option *ngFor="let livre of livres" [ngValue]="livre">{{livre.name}}</option>
            </select>
        <div *ngIf="submitted && !emprunt.livre">
            <span style="color: red;">Ce champ est obligatoire</span>
        </div>
        </div>
        <div class="form-group">
            <label>Etudiants</label>
            <select class="form-control" id="student" name="student" [(ngModel)]="emprunt.student">
                <option *ngFor="let etudiant of etudiants" [ngValue]="etudiant">{{etudiant.firstName}} {{etudiant.lastName}}</option>
            </select>
            <div *ngIf="submitted && !emprunt.student">
                <span style="color: red;">Ce champ est obligatoire</span>
            </div>
        </div>
       
        <div style=" text-align: center;">
            <button class="btn btn-secondary " (click)="returnToList()"> Annuler</button>
            <button class="btn btn-success ml-2" (click)="createEmprunt()">Créer </button>
           
        </div>
        
    </form>
</div>